:root {
    --primary-orange: #F97316;
    --secondary-blue: #1E3A8A;
}

#map { z-index: 1; }

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.filter-btn.active {
    background-color: var(--primary-orange) !important;
    color: white !important;
}

/* Animação suave ao carregar cards */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-card {
    animation: fadeIn 0.4s ease forwards;
}